.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 18em;
}

.inputSymbol {
  position: relative;
  font-family: "SF Pro Display";
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 58px;
  letter-spacing: 0em;
  text-align: center;
  color: #0258FF;
}

.inputSymbol input {
  padding-left: 18px;
  margin-bottom: .2em;
}

.inputSymbol:before {
  position: absolute;
  top: 0;
  content:"$";
  left: 5px;
}

.amountInput {
  height: 80px;
  width: 480px;
  left: 400px;
  top: 63px;
  border-style: none;
  border-radius: 8px;
  font-family: "SF Pro Display";
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 58px;
  letter-spacing: 0em;
  text-align: center;
  color: #0258FF;
}

.amountInput:hover {
  border-style: solid;
}

.errorMessageContainer {
  height: 24px;
  width: 480px;
  left: 400px;
  top: 138px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 20px;
  /* margin-top: 24px;
  margin-bottom: 24px; */
  background-color: red;
}

.errorMessage {
  height: 24px;
  width: 480px;
  left: 400px;
  top: 138px;
  border-radius: 20px;
  color: white;
}

.rangeSlider {
  margin-top: 1em;
  height: 16px;
  width: 480px;
  left: 400px;
  top: 175px;
  border-radius: 8px;
}


